<div id="<%= dom_id gem_blog_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gem_blog_category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= gem_blog_category.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= gem_blog_category.active %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this gem blog category", [:admin, gem_blog_category], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this gem blog category", edit_admin_gem_blog_category_path(gem_blog_category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
